.skills {
    background-color: var(--light-tertiary-color);
    scroll-margin-top: 15rem;
}

.skills .skills_content {
    padding: 6rem 4rem;
    text-align: center;
}

.skills .skills_content .description {
    max-width: 56rem;
    margin: 0 auto 6rem;
}

.skills .skills_content ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
}
